
.c-div {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.form-div {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

.login-button {
    background-color: #3D58F2;
    font-size: 2vh;
    color: #191919;
    font-family: inherit;
    font-weight: 700;
    border: #242424 solid 0.4vh;
    border-radius: 3vh;
    padding: 1vh 1.9vh 1vh 1.9vh;
    text-align: center;
    vertical-align: middle;
}
